:root {
    --accent-color: #ea76cb;
    --bg-color: #eff1f5;
    --bg-color-focus: #ccd0da;
    --outline-color: var(--bg-color-focus);
    --outline-color-hover: #ccd0da;
    --outline-color-focused: #acb0be;
    /* --bg-color: color-mix(in srgb, var(--accent-color) 1%, var(--bg-color-raw) 99%); */
    --text-color: #4c4f69;
    --text-inverted-color: var(--bg-color);

    --good-color: #40a02b;
    --good-hover-color: color-mix(in srgb, var(--accent-color) 15%, var(--good-color) 85%);
    --warning-color: #df8e1d;
    --caution-color: #d20f39;
    --informative-color: #8839ef;

    --transition-bezier: cubic-bezier(.25, .46, .45, .94);
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #f5c2e7; /* hehe */
        --bg-color: #1e1e2e;
        --bg-color-focus: #313244;
        --outline-color: var(--bg-color-focus);
        --outline-color-hover: #45475a;
        --outline-color-focused: #585b70;
        /* --bg-color: color-mix(in srgb, var(--accent-color) 1%, var(--bg-color-raw) 99%); */
        --text-color: #cdd6f4;
        --text-inverted-color: var(--bg-color);

        --good-color: #a6e3a1;
        --good-hover-color: color-mix(in srgb, var(--accent-color) 15%, var(--good-color) 85%);
        --warning-color: #f9e2af;
        --caution-color: #f38ba8;
        --informative-color: #cba6f7;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
* {font-family: Lexend}

#everything {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#somethingelse,
#powercontrol {
    width: 35%;
    height: 40%;
}
.config-container {
    border: var(--outline-color) 2px solid;
}
.config-container-inner {
    display: flex;
    flex-direction: row;
}

.block-centered {
    display: block;
    margin: 0 auto;
}

/* yes, the margin- is intended for these two classes. */
.config-container .leftmost {
    margin-right: auto;
}
.config-container .rightmost {
    margin-left: auto;
    padding-right: 10px; /* WTF? */
}

button {
    max-width: max-content;
    border: none;
    padding: 10px 24px;
    background-color: var(--good-color);
    color: var(--text-inverted-color);
    font-size: .95rem;
    border-radius: 16px;
    transition: all .4s var(--transition-bezier);
}

button:hover {
    background-color: var(--good-hover-color);
}

.radio-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 10px;
}

.flex-column-inline {
    display: flex;
    flex-direction: row;

    gap: 10px;
}
/* .radio-container.rightmost .flex-column-inline {
    margin-left: auto;
} */

#input_container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 2px solid #313244;
    border-radius: 4px;

    width: 30%;

    transition: all 150ms ease-in;
}

input[type="text"]:hover {
    border-color: var(--outline-color-hover);
}

input[type="text"]:focus {
    outline: none;
    border-color: var(--outline-color-focused);
}

.radio-container {
    display: flex;
    gap: 10px;
}

/* TODO: make inner circle smaller */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    min-width: 15px;
    height: 15px;
    transform: scale(1);
    border: 2px solid var(--text-color);
    border-radius: 50%;
    outline: none;

    transition: all 150ms ease-in;
    margin-right: 0px;
}

/* for input[type="radio"]; this makes it so there isn't extra space where you can't click on the button */
label {
    margin-left: -22px;
    padding-left: 20px;
}

input[type="radio"]::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: -3px;
    border-radius: 50%;
    transform: scale(0);
}

input[type="radio"]:hover {
    border-color: var(--accent-color);
}

input[type="radio"]:checked {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}
